@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
*{
  font-family: "Inter", sans-serif;
}
.active-link {
  color: #14b8a6; /* Tailwind's text-primary */
  font-weight: 600;
}
html {
  scroll-behavior: smooth;
}

/* .montserrat{
  font-family: "Montserrat", sans-serif;
}
.fira-code{
  font-family: "Fira Code", monospace;
} */